<%- include('../../partials/header'); %>
  <%- include('../../partials/navbar'); %>

    <div class="container">
      <div class="card">
        <div class="card-header">
          <h3>NEW ARTICLE</h3>
        </div>
        <div class="class card-body">
          <form method="POST" action="/categories/save">
            <input class="form-control" type="text" name="title" placeholder="Type article name "><br>
            <textarea class="form-control" placeholder="Write your article here" name="body"
              id="article"></textarea><br>
            <label>Category</label>
            <select name="category" class="form-control">
              <% categories.forEach((category)=> { %>
                <option>
                  <%= category.title %>
                </option>
                <% }) %>
            </select>
            <button class="btn btn-success">ADD</button>
          </form>
        </div>
      </div>
    </div>

    <%- include('../../partials/footer'); %>
      <script src="/tinymce/tinymce.min.js"></script>
      <script>
        tinymce.init({
          selector: '#article',
          plugins: [
            'advlist autolink link image lists print preview hr searcheplace wordcount fullscreen inserdatetime media save table paste emoticons'
          ]
        })
      </script>